laravel: '@testbench'

providers:
  # - Workbench\App\Providers\WorkbenchServiceProvider
  - Revolution\Nostr\Providers\NostrServiceProvider

env:
  CACHE_STORE: array
  NOSTR_SK:
  NOSTR_NSEC:
  NOSTR_PK:
  NOSTR_NPUB:
  NOSTR_API_BASE: https://nostr-api.vercel.app/api/
  #NOSTR_API_BASE: http://localhost:3000/api/

migrations:
  - workbench/database/migrations

seeders:
  - Workbench\Database\Seeders\DatabaseSeeder

workbench:
  start: '/'
  install: true
  health: false
  discovers:
    web: true
    api: true
    commands: true
    components: false
    factories: true
    views: false
  build:
    - asset-publish
    - create-sqlite-db
    - db-wipe
    - migrate-fresh
  assets:
    - laravel-assets
  sync:
    - from: storage
      to: workbench/storage
      reverse: true
